---
kubernetes_token: abcdef.1234567890abcdef
tls: true

# If you are using a localhost docker registry and want
# your VMs to access it over a tunnel, set the following values
#
# See:
# https://docs.docker.com/registry/deploying/
# https://2matoes.com/blog/deploytoremotedocker
#
docker_localregistry: false
docker_localregistry_host: ipaddress-of-host
docker_localregistry_port: 5000

# Versions can be:
# v1.23
# v1.24
# v1.25
kubever: v1.25
