---
# These values NEED to be changed.
# Also, if you create multiple clusters, you may want to
# manually set these values on each of the clusters
cilium_lb_ippool_start: 192.168.121.20
cilium_lb_ippool_stop: 192.168.121.30
