- name: build hosts file
  lineinfile: dest=/etc/hosts regexp='.*{{ item }}$' line="{{ hostvars[item].ansible_eth1.ipv4.address }} {{item}}" state=present
  when: hostvars[item].ansible_eth1.ipv4.address is defined
  with_items: "{{ groups['all'] }}"

- name: disable selinux
  selinux: state=disabled

- name: disable of selinux - now
  command: setenforce 0

- name: Ensure net.bridge.bridge-nf-call-iptables is set. See kubeadm
  copy: src=k8s.conf owner=root group=root dest=/etc/sysctl.d/k8s.conf

- name: Run sysctl
  command: sysctl --system

- name: Add Kubernetes yum repo
  yum_repository:
    name: kubernetes
    description: Kubernetes kubeadm
    baseurl: https://packages.cloud.google.com/yum/repos/kubernetes-el7-x86_64
    gpgkey: https://packages.cloud.google.com/yum/doc/yum-key.gpg
    gpgcheck: yes

- name: install utility programs
  yum: name={{ packages }} state=present disable_gpg_check=yes
  vars:
    packages:
      - etcd
      - wget
      - ntp
      - screen
      - epel-release
      - vim
      - iptables
      - iptables-utils
      - iptables-services
      - ncurses-term
      - kernel-devel
      - kernel-headers

- name: install epel  utility programs
  yum: name={{ packages }} state=present disable_gpg_check=yes
  vars:
    packages:
      - jq
      - lvm2
      - yum-utils
      - device-mapper-persistent-data

- include_tasks: v111.yml
  when: kubever is defined and kubever == "v1.11"

- include_tasks: v112.yml
  when: kubever is defined and kubever == "v1.12"

- include_tasks: v113.yml
  when: kubever is defined and kubever == "v1.13"

- include_tasks: latest.yml
  when: kubever is not defined

- include_tasks: dockerce.yml
  when: use_dockerce

- name: enable kube services
  service: name={{ item }} state=started enabled=yes
  with_items:
    - docker
    - ntpd
    - kubelet

- name: download crictl
  get_url:
    url: https://github.com/kubernetes-incubator/cri-tools/releases/download/v1.0.0-beta.0/crictl-v1.0.0-beta.0-linux-amd64.tar.gz
    dest: /home/vagrant/crictl.tar.gz

- name: install crictl
  unarchive:
    src: /home/vagrant/crictl.tar.gz
    remote_src: yes
    dest: /bin

- name: turn off swap
  command: swapoff -a

- name: remove swap from /etc/fstab
  lineinfile:
    path: /etc/fstab
    state: absent
    regexp: "swap"


