- name: install v1.22 kubernetes
  yum: name={{ packages }} state=present disable_gpg_check=yes
  vars:
    packages:
      - kubelet-1.22.2-0
      - kubeadm-1.22.2-0
      - kubectl-1.22.2-0

- name: setting vars
  set_fact:
    kubeadm_kubernetes_version: stable-1.22
    use_dockerce: true
