- name: initialize kubeadm on master
  command: kubeadm init --pod-network-cidr=10.244.0.0/16 --token={{ kubernetes_token }} --apiserver-advertise-address={{ ansible_eth1.ipv4.address }}
  when: kubeadm_kubernetes_version is not defined

- name: initialize kubeadm on master
  command: kubeadm init --kubernetes-version={{ kubeadm_kubernetes_version }} --pod-network-cidr=10.244.0.0/16 --token={{ kubernetes_token }} --apiserver-advertise-address={{ ansible_eth1.ipv4.address }}
  when: kubeadm_kubernetes_version is defined

- name: create flannel network
  command: kubectl apply -f https://raw.githubusercontent.com/coreos/flannel/v0.12.0/Documentation/kube-flannel.yml

- name: replace kube name in kubeconfig
  replace:
    path: /etc/kubernetes/admin.conf
    regexp: 'kubernetes'
    replace: "{{ inventory_hostname | regex_replace('lpabon-') }}"

- name: get kubeconfig.conf
  fetch:
    src: /etc/kubernetes/admin.conf
    dest: "kubeconfig-{{ inventory_hostname | regex_replace('lpabon-') }}.conf"
    flat: yes
